@page
@model BankWeb.Areas.Identity.Pages.Account.Manage.EditUserModel
@{
    ViewData["Title"] = "Edit user";
}
<h1>Edit User</h1>

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label for="Email">Email/Username</label>
        <input asp-for="User.Email" class="form-control" />
        <span asp-validation-for="User.Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Input_Roles">Roles</label>
        <select asp-for="User.Roles" class="form-control" asp-items="@(new SelectList(Model.Roles))" multiple></select>
        <span asp-validation-for="User.Roles" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    <button type="submit" class="btn btn-danger" name="deleteUser">Delete</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
