@model BankLibrary.ViewModels.CountryStatisticViewModel

<div class="py-2 col-md-4 col-xl-3">
    <div class="card bg-primary order-card">
        <div class="card-block">
            <h6>Total balance in @Model.Country<i class="fa-solid fa-dollar-sign f-right"></i></h6>
            <h6 class="text-center text-white pt-3"><span>SEK @Model.TotalBalance</span></h6>
        </div>
    </div>
</div>