@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!doctype html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - Bank</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <!-- sidebar -->
    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar" class="active">
            <h1><a asp-area="" asp-page="/Index" class="logo">PB.</a></h1>
            <ul class="list-unstyled components mb-5">
                <li class="active">
                    <a asp-area="" asp-page="/Index"><span class="fa fa-home"></span> Home</a>
                </li>
                @if (SignInManager.IsSignedIn(User))
                {
                    if (User.IsInRole("Cashier"))
                    {
                        <li>
                            <a asp-area="" asp-page="/Customers/Index"><span class="fa fa-users"></span> Customers</a>
                        </li>
                        <li>
                            <a asp-area="" asp-page="/Accounts/Index"><span class="fa fa-credit-card"></span> Accounts</a>
                        </li>
                    }
                    else if (User.IsInRole("Admin"))
                    {
                        <li>
                            <a class="" asp-area="Identity" asp-page="/Account/Manage/ManageUsers" title="Manage"><span class="fa fa-user"></span>Admin</a>
                        </li>
                    }
                    <li>
                        <a>
                            <form class="form-inline text-center" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                                <button type="submit" class="btn text-light text-center">
                                    <span class="fa fa-left-from-bracket"></span> Logout
                                </button>
                            </form>
                        </a>
                    </li>
                }
                else
                {
                    <li>
                        <a class="" asp-area="Identity" asp-page="/Account/Register"><span class="fa fa-user-plus"></span> Register</a>
                    </li>
                    <li>
                        <a class="" asp-area="Identity" asp-page="/Account/Login"><span class="fa fa-right-from-bracket"></span> Login</a>
                    </li>
                }
            </ul>
            <div class="footer" style="font-size:12px">
                Made by <br />Hossén Rahimzadegan
            </div>
        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5">
            @RenderBody();
        </div>
    </div>

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://kit.fontawesome.com/a041cc045c.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>