@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@* <nav class=""> *@

<ul class="ms-auto nav mr-5">
    @if (SignInManager.IsSignedIn(User))
    {
        <li>
            <a class="nav-link scrollto" asp-area="Identity" asp-page="/Accounts/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
        </li>
        <li>
            <form class="form-inline" asp-area="Identity" asp-page="/Accounts/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                <button type="submit" class="nav-link scrollto">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li>
            <a class="nav-link scrollto" asp-area="Identity" asp-page="/Accounts/Register">Register</a>
        </li>
        <li>
            <a class="nav-link scrollto" asp-area="Identity" asp-page="/Accounts/Login">Login</a>
        </li>
    }
</ul>
@* </nav> *@