@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
<h1 class="text-center"><a class="logo">PBank.</a></h1>
<p class="text-center h5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

<h2 class="logo text-dark text-center">Click any of the four countries to see their top 10 customers!</h2>
<div class="row text-white justify-content-center">
    @foreach (var country in Model.CountryStatistics)
    {
        <partial name="_CountryCustomerStatisticPartial" model="@country" />
    }
</div>

<div class="row text-white justify-content-center">
    @foreach (var country in Model.CountryStatistics)
    {
        <partial name="_CountryAccountStatisticPartial" model="@country" />
    }
</div>

<div class="row text-white justify-content-center">
    @foreach (var country in Model.CountryStatistics)
    {
        <partial name="_CountryBalanceStatisticPartial" model="@country" />
    }
</div>